<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Matikkafoorumi</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/theme.css"/>
        <link rel="stylesheet" href="/bootstrap.css"/>
        <link rel="stylesheet" href="/bootstrap-theme.css"/>
        <script src="/bootstrap.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="page-header page-heading">
                <ol class="breadcrumb pull-right where-am-i">
                    <li><a href="/">Etusivu</a></li>
                    <li class="active" th:text="${kategoria.nimi}"></li>
                </ol>
                <h1 th:text="${kategoria.nimi}">kategorian nimi</h1>
            </div>
            <div class="clearfix"></div>
            <p class="lead" th:text="${kategoria.kuvaus}">kategorian kuvaus</p>
            <table class="table forum table-striped">
                <thead>
                    <tr>
                        <th><h4>Aihe</h4></th>
                        <th class="cell-stat text-center">Viestien määrä</th>
                        <th class="cell-stat text-center">Viimeisin viesti</th>
                    </tr>
                    <tr th:each="nakyma: ${nakyma}">
                        <td><h4><a th:href="${'/kategoria/' +  kategoria.nimi + '/' + nakyma.keskusteluId + '-' + 1}" th:text="${nakyma.keskusteluOtsikko}">otsikko</a></h4></td>
                        <td class="text-center" th:text="${nakyma.viestienMaara}" >aika</td>
                        <td class="text-center" th:text="${nakyma.viimeisinViesti}">aika</td>
                    </tr>
                </thead>
            </table>

            <ol class="breadcrumb pull-left where-am-i">
                <li th:each="maara: ${maara}" >
                    <a th:if="${maara.getOnkoSivu()} == false" th:href="${'/kategoria/' + kategoria.nimi + '-' + maara.id}" th:text="${maara.id}"></a>
                    <a th:if="${maara.getOnkoSivu()} == true" th:text="${maara.id}" style="color:#808080; text-decoration: none;" ></a>
                </li>
            </ol>

            <form method="POST" name="formi" onsubmit="return validoiKeskustelu()">
                <div class="form-group">
                    <input type="text" class="form-control" name="otsikko" placeholder="Lisää aihe"></input>
                    <textarea class="form-control" name="viesti" rows="6" placeholder="Lisää viesti"></textarea>
                    <input type="text" class="form-control" name="lahettaja" placeholder="Lähettäjä"></input>
                </div>
                <button type="submit" class="btn btn-primary">Lisää aihe</button>
            </form>
        </div>
        <script src="/functions.js"></script>
    </body>
</html>